In [2]:
import pandas as pd

In [3]:
data_review = pd.read_csv('../datasets/australian_reviews_listo.csv')
data_items = pd.read_csv('../datasets/australian_items.csv')
data_output= pd.read_csv('../datasets/output.csv')

In [5]:
data_review

,user_id,user_url,posted,item_id,recommend,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2011,1250,True,1
1,js41637,http://steamcommunity.com/id/js41637,2014,251610,True,1
2,evcentric,http://steamcommunity.com/id/evcentric,2014,248820,True,1
3,doctr,http://steamcommunity.com/id/doctr,2013,250320,True,2
4,maplemage,http://steamcommunity.com/id/maplemage,2014,211420,True,1
...,...,...,...,...,...,...
59001,SKELETRONPRIMEISOP,http://steamcommunity.com/id/SKELETRONPRIMEISOP,2014,440,True,1
59002,76561198141079508,http://steamcommunity.com/profiles/76561198141...,2014,304930,True,1
59003,ShadowYT100,http://steamcommunity.com/id/ShadowYT100,2015,265630,True,2
59004,bestcustomurlevermade,http://steamcommunity.com/id/bestcustomurlever...,2015,304050,True,1
59005,76561198209894493,http://steamcommunity.com/profiles/76561198209...,2014,570,False,1

def UsersWorstDeveloper( año : int ): Devuelve el top 3 de desarrolladoras con juegos MENOS recomendados por usuarios para el año dado.   
(reviews.recommend = False y comentarios negativos)  
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [6]:
worst_reviews = data_review[(data_review['recommend'] == False) & (data_review['sentiment_analysis'] == 0)]
count_worst_reviews = worst_reviews.groupby(['item_id','posted']).size().reset_index(name='cbad_reviews')
df_users = pd.merge(worst_reviews,count_worst_reviews)
df_users = df_users.drop(columns='user_url')

In [7]:
df_users

,user_id,posted,item_id,recommend,sentiment_analysis,cbad_reviews
0,76561198043472122,2014,33440,False,0,1
1,76561198066046412,2015,359320,False,0,2
2,hessink,2015,359320,False,0,2
3,iamthekingofbrowntown,2015,344760,False,0,2
4,tonir,2015,344760,False,0,2
...,...,...,...,...,...,...
1451,u2late,2015,286040,False,0,1
1452,jjas01,2014,212630,False,0,1
1453,chickenzrulz,2014,409160,False,0,1
1454,richbags12,2015,331440,False,0,1
1455,TheGamingHeadcrab,2013,200210,False,0,1