# Sistema de recomendación

Se realizará un proceso de unión y la creación de un puntaje para decidir qué tan compatible es un juego con otros. Luego, se trabajará en un sistema de recomendación ítem por ítem, el cual se refiere a la similitud de ese juego con otros.

### Importamos librerías

Estas librerías nos permiten manipular los datos y trabajar con ellos.

In [21]:
import pandas as pd
import sys
sys.path.insert(0, '../')
import Herramientas as Herr

### Carga de datos

Se realiza la lectura de los archivos con el objetivo de prepararlos para hacer un sistema de recomendación.

In [22]:
data_review = pd.read_csv('../datasets/australian_reviews_listo.csv')
data_output= pd.read_csv('../datasets/output.csv')

Se reviso los datos que tienen dentro ambos DataFrame.

In [23]:
data_review

,user_id,user_url,posted,item_id,recommend,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2011,1250,True,1
1,js41637,http://steamcommunity.com/id/js41637,2014,251610,True,1
2,evcentric,http://steamcommunity.com/id/evcentric,2014,248820,True,1
3,doctr,http://steamcommunity.com/id/doctr,2013,250320,True,2
4,maplemage,http://steamcommunity.com/id/maplemage,2014,211420,True,1
...,...,...,...,...,...,...
59270,BonnieMTD,http://steamcommunity.com/id/BonnieMTD,2015,400,True,2
59271,amillionlemons,http://steamcommunity.com/id/amillionlemons,2015,313120,True,1
59272,keepit1hunid,http://steamcommunity.com/id/keepit1hunid,2014,17410,True,2
59273,SKELETRONPRIMEISOP,http://steamcommunity.com/id/SKELETRONPRIMEISOP,2014,304930,True,1
59274,76561198141079508,http://steamcommunity.com/profiles/76561198141...,2014,4000,True,2

In [24]:
data_output

,publisher,genres,app_name,title,release_date,price,early_access,item_id,developer
0,Kotoshiro,Action,Lost Summoner Kitty,Lost Summoner Kitty,2018,4.99,False,761140,Kotoshiro
1,Kotoshiro,Casual,Lost Summoner Kitty,Lost Summoner Kitty,2018,4.99,False,761140,Kotoshiro
2,Kotoshiro,Indie,Lost Summoner Kitty,Lost Summoner Kitty,2018,4.99,False,761140,Kotoshiro
3,Kotoshiro,Simulation,Lost Summoner Kitty,Lost Summoner Kitty,2018,4.99,False,761140,Kotoshiro
4,Kotoshiro,Strategy,Lost Summoner Kitty,Lost Summoner Kitty,2018,4.99,False,761140,Kotoshiro
...,...,...,...,...,...,...,...,...,...
68053,Laush Studio,Indie,Russian Roads,Russian Roads,2018,1.99,False,610660,Laush Dmitriy Sergeevich
68054,Laush Studio,Racing,Russian Roads,Russian Roads,2018,1.99,False,610660,Laush Dmitriy Sergeevich
68055,Laush Studio,Simulation,Russian Roads,Russian Roads,2018,1.99,False,610660,Laush Dmitriy Sergeevich
68056,SIXNAILS,Casual,EXIT 2 - Directions,EXIT 2 - Directions,2017,4.99,False,658870,"xropi,stev3ns"
68057,SIXNAILS,Indie,EXIT 2 - Directions,EXIT 2 - Directions,2017,4.99,False,658870,"xropi,stev3ns"

Se unió los dos dataframes con las columnas que son necesarias para poder crear la columna con los puntajes y luego hacer nuestro sistema de recomendación.

In [25]:
df_recommend = pd.merge(data_output[['app_name','item_id']],data_review[['item_id','recommend','sentiment_analysis','user_id']],on='item_id')
df_recommend

,app_name,item_id,recommend,sentiment_analysis,user_id
0,Carmageddon Max Pack,282010,True,1,InstigatorAU
1,Carmageddon Max Pack,282010,True,1,InstigatorAU
2,Carmageddon Max Pack,282010,True,1,InstigatorAU
3,Half-Life,70,True,1,EizanAratoFujimaki
4,Half-Life,70,True,1,76561198020928326
...,...,...,...,...,...
110785,Counter-Strike: Condition Zero,80,False,1,76561198023508728
110786,Counter-Strike: Condition Zero,80,True,2,Lone_walker
110787,Counter-Strike: Condition Zero,80,True,2,virex4
110788,Counter-Strike: Condition Zero,80,True,2,KILLERamateur
110789,Counter-Strike: Condition Zero,80,False,0,76561198123074348

Se hizo una revisión para ver como se comportaron los datos.

In [26]:
Herr.analizar_datos(df_recommend)

,Nombre,Tipos de Datos Únicos,% de Valores No Nulos,% de Valores Nulos,Cantidad de Valores Nulos
0,app_name,[<class 'str'>],100.0,0.0,0
1,item_id,[<class 'int'>],100.0,0.0,0
2,recommend,[<class 'bool'>],100.0,0.0,0
3,sentiment_analysis,[<class 'int'>],100.0,0.0,0
4,user_id,[<class 'str'>],100.0,0.0,0

Se creó una función para aplicar al DataFrame "df_recommend" con el objetivo de unificar las recomendaciones y el análisis de sentimientos de los usuarios en un solo valor.

In [27]:
def Score(filas):
    if (filas['sentiment_analysis'] == 0) & (filas['recommend'] == False):
        return 0
    elif (filas['sentiment_analysis'] == 1) & (filas['recommend'] == False):
        return 1
    elif (filas['sentiment_analysis'] == 2) & (filas['recommend'] == False):
        return 2
    elif (filas['sentiment_analysis'] == 0) & (filas['recommend'] == True):
        return 3
    elif (filas['sentiment_analysis'] == 1) & (filas['recommend'] == True):
        return 4
    elif (filas['sentiment_analysis'] == 2) & (filas['recommend'] == True):
        return 5
    return None

Se creo una columna "score" para reemplazar las columnas "recommend" y "sentiment_analysis", para ello se aplicó la función creada anteriormente.

In [28]:
df_recommend['Score']= df_recommend.apply(Score,axis=1)

A modo informativo, vemos cómo están los "score" del resultado de nuestra función.

In [29]:
df_recommend['Score'].value_counts()

Score
4    66556
5    26025
1     9052
3     5429
0     2858
2      870
Name: count, dtype: int64

Se eliminaron las columnas que no son necesarias para nuestro sistema de recomendación y aquellas con las que creamos la columna "score".

In [30]:
df_recommend = df_recommend.drop(columns=['item_id','recommend','sentiment_analysis'])

Revisión final del DataFrame "df_recommend".

In [31]:
df_recommend

                              app_name             user_id  Score
0                 Carmageddon Max Pack        InstigatorAU      4
1                 Carmageddon Max Pack        InstigatorAU      4
2                 Carmageddon Max Pack        InstigatorAU      4
3                            Half-Life  EizanAratoFujimaki      4
4                            Half-Life   76561198020928326      4
...                                ...                 ...    ...
110785  Counter-Strike: Condition Zero   76561198023508728      1
110786  Counter-Strike: Condition Zero         Lone_walker      5
110787  Counter-Strike: Condition Zero              virex4      5
110788  Counter-Strike: Condition Zero       KILLERamateur      5
110789  Counter-Strike: Condition Zero   76561198123074348      0

[110790 rows x 3 columns]

### Exportamos los datos

A través de una función de nuestro módulo Herramientas, exportamos el archivo transformado.

In [32]:
Herr.export_data_csv(dataframe=df_recommend,ruta_nueva='../datasets/df_recommend.csv')

El archivo se exportó con éxito